<?xml version="1.0" encoding="UTF-8"?>
<robot name="ezgripper_triple" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Include the single gripper definition -->
    <xacro:include filename="$(find ezgripper_description)/urdf/ezgripper_single.urdf.xacro" />

    <!-- Define a modified knuckle joint macro for the triple gripper -->
    <xacro:macro name="ezgripper_triple_knuckle_palm_L1" params="prefix postfix reflectY reflectZ reflectR mimic_test">
        <joint name="${prefix}_ezgripper_knuckle_palm_L1_${postfix}" type="revolute">
            <parent link="${prefix}_ezgripper_palm_link"/>
            <child link="${prefix}_ezgripper_finger_L1_${postfix}"/>
            <!-- Flip the fingers by adding 180 degrees (pi) to the roll -->
            <origin xyz="0.0595 ${reflectY*0.03} 0" rpy="${1.5708 * reflectR + 3.14159} 0 0"/>
            <axis xyz="0 1 0"/>
            <limit lower="-1.57075" upper="0.27" effort="1" velocity="3.67"/>
            <xacro:if value="${mimic_test}">
                    <mimic joint="${prefix}_ezgripper_knuckle_palm_L1_1"/>
            </xacro:if>
        </joint>
    </xacro:macro>

    <!-- Define a modified center finger knuckle joint macro for the triple gripper -->
    <xacro:macro name="ezgripper_triple_center_knuckle_palm_L1" params="prefix postfix reflectY reflectZ reflectR mimic_test">
        <joint name="${prefix}_ezgripper_knuckle_palm_L1_${postfix}" type="revolute">
            <parent link="${prefix}_ezgripper_palm_link"/>
            <child link="${prefix}_ezgripper_finger_L1_${postfix}"/>
            <!-- Flip the center finger by modifying the pitch -->
            <origin xyz="0.0595 0 0" rpy="${3.14159} ${-1.5708} 0"/>
            <axis xyz="0 1 0"/>
            <limit lower="-1.57075" upper="0.27" effort="1" velocity="3.67"/>
            <xacro:if value="${mimic_test}">
                    <mimic joint="${prefix}_ezgripper_knuckle_palm_L1_1"/>
            </xacro:if>
        </joint>
    </xacro:macro>

    <!-- Define a modified palm macro for the triple gripper -->
    <xacro:macro name="ezgripper_triple_palm" params="prefix parent_link *origin">

        <joint name="${prefix}_ezgripper_to_parent" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent_link}"/>
            <child link="${prefix}_ezgripper_palm_link"/>
            <axis xyz="0 0 0"/>
            <limit effort="0" lower="-1.57075" upper="0.25" velocity="3.67"/>
        </joint>

        <link name="${prefix}_ezgripper_palm_link">
            <visual>
                <origin xyz="0.0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://ezgripper_description/meshes/visual/SAKE_Palm_IM.stl"/>
                </geometry>
                <material name="ezgripper_blue"/>
            </visual>
            <collision>
                <origin xyz="0.0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.04 0.04 0.04"/>
                </geometry>
            </collision>
            <inertial>
                <mass value=".3"/>
                <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
            </inertial>
        </link>

        <gazebo reference="${prefix}_ezgripper_palm_link">
            <material>Gazebo/Blue</material>
        </gazebo>

        <xacro:ezgripper_finger_L1 prefix="${prefix}" postfix="1" reflect="1" />
        <xacro:ezgripper_finger_L1 prefix="${prefix}" postfix="2" reflect="1" />
        <xacro:ezgripper_finger_L1 prefix="${prefix}" postfix="3" reflect="1" />

        <xacro:ezgripper_finger_L2 prefix="${prefix}" postfix="1" reflect="1" />
        <xacro:ezgripper_finger_L2 prefix="${prefix}" postfix="2" reflect="1" />
        <xacro:ezgripper_finger_L2 prefix="${prefix}" postfix="3" reflect="1" />

        <xacro:ezgripper_finger_pad prefix="${prefix}" postfix="1" reflect="1" />
        <xacro:ezgripper_finger_pad prefix="${prefix}" postfix="2" reflect="1" />
        <xacro:ezgripper_finger_pad prefix="${prefix}" postfix="3" reflect="1" />

        <!-- Use the triple gripper specific knuckle joint definitions -->
        <xacro:ezgripper_triple_knuckle_palm_L1 prefix="${prefix}" postfix="1" reflectY="1" reflectZ="1" reflectR="-1" mimic_test="false"/>
        <xacro:ezgripper_triple_knuckle_palm_L1 prefix="${prefix}" postfix="2" reflectY="-1" reflectZ="1" reflectR="1" mimic_test="true"/>
        <xacro:ezgripper_triple_center_knuckle_palm_L1 prefix="${prefix}" postfix="3" reflectY="0" reflectZ="1" reflectR="0" mimic_test="true"/>

        <xacro:ezgripper_knuckle_L1_L2 prefix="${prefix}" postfix="1" reflectY="1" reflectZ="1" reflectR="-1"/>
        <xacro:ezgripper_knuckle_L1_L2 prefix="${prefix}" postfix="2" reflectY="-1" reflectZ="1" reflectR="1"/>
        <xacro:ezgripper_knuckle_L1_L2 prefix="${prefix}" postfix="3" reflectY="0" reflectZ="1" reflectR="0"/>

        <xacro:ezgripper_joint_finger_pad prefix="${prefix}" postfix="1" reflectY="1" reflectZ="1" reflectR="1"/>
        <xacro:ezgripper_joint_finger_pad prefix="${prefix}" postfix="2" reflectY="-1" reflectZ="1" reflectR="-1"/>
        <xacro:ezgripper_joint_finger_pad prefix="${prefix}" postfix="3" reflectY="0" reflectZ="1" reflectR="0"/>

        <!-- Transmission needs to be removed when mimicked -->
        <xacro:ezgripper_knuckle_palm_trans prefix="${prefix}" postfix="L1_1"/>
        <!-- <xacro:ezgripper_knuckle_palm_trans prefix="${prefix}" postfix="L1_2"/> -->
        <!-- <xacro:ezgripper_knuckle_palm_trans prefix="${prefix}" postfix="L1_3"/> -->

        <xacro:gazebo_knuckle_jsp prefix="${prefix}" />

    </xacro:macro>

    <!-- Define the triple gripper macro -->
    <xacro:macro name="ezgripper_triple" params="prefix parent_link *origin">
        <!-- Use the modified palm macro for the triple gripper -->
        <xacro:ezgripper_triple_palm prefix="${prefix}" parent_link="${parent_link}">
            <xacro:insert_block name="origin"/>
        </xacro:ezgripper_triple_palm>
    </xacro:macro>

</robot>
